@import "./base.css";
@import url("https://use.typekit.net/mgi4nlq.css");
#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  font-weight: normal;
}

.container {
  width: 1140px;
  padding: 0 1rem;
}

.no-scroll {
  max-height: 100vh;
  overflow: hidden;
  /* padding-right: ; */
}
@media (hover: hover) {
  /* a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  } */
}

@media (min-width: 740px) and (max-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */
}

@media (max-width: 576px) {
  .container{
    max-width: 100% !important;
  }
  #header .header-title {
    font-size: 2rem;
  }
  #header .header-subtitle{
    font-size: 1rem;
  }
  #nav-mobile .nav__social .icon * {
    height: 20px;
    width: 20px;
  }

  #nav-mobile a {
    font-size: 1.65rem !important;
  }
  #blog .card-link {
    padding: 3px 10px;
    font-size: 0.7rem;
  }

  #blog .card-body {
    padding: 0.85rem;
  }

  #blog .card-title {
    font-size: 1.2rem;
  }

  #blog .card-subtitle {
    font-size: 0.7rem;
  }

  #blog .card-text {
    font-size: 0.75rem;
    word-spacing: 0;
  }

  #toggle-navbar input[type="radio"] ~ label {
    font-size: 0.7rem;
  }
}
